@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #fff8e6;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background: #ff4824;
  color: #fff8e6;
}
